.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh; 
  box-sizing: border-box; 
  @include xsl {
    padding: 180px 0 100px;
  }
  &:before{
    top: 0;
    left: 0;
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
  }
  // &:before{
  //   content: ' ';
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 3;
  //   background: linear-gradient(0deg, rgba(0, 61, 152, 0.48), rgba(0, 61, 152, 0.48));
  // } 
  &_cont {
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & *{
      position: relative;
      z-index: 9;
    }
    h1{
      color: #FFFFFF;
      font-family: $font-muli;
      font-weight: 800;
      font-size: 65px;
      line-height: 112.2%;
      max-width: 748px;
      width: 100%;
      text-align: center;
      margin: 0 auto 15px;
      text-transform: uppercase;
      .blue{
        color: $color-blue4;
      }
      .black{
        color: $color-black;
      }
      @include sm {
        font-weight: 800;
        font-size: 48px;
        line-height: 58px;
        max-width: 485px;
        margin: 0 auto 30px;
      }
    }
    h3{
      color: white;
      max-width: 575px;
      text-align: center;
    }
    .general_paragraph{
      color: #FFFFFF;
      max-width: 475px;
      margin: 0 auto 55px;
      text-align: center;
      @include md {
        max-width: 264px;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
      }
    }
  } 
  &_btn{
    display: flex;
    margin: 55px auto 0;
    flex-direction: row;
    justify-content: center;
    @include xsl {
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 15px auto 0;
    }
    .general-button{
      margin-right: 35px;
      @include xsl { 
        margin: 20px 15px 0;
      }
      &:last-child{
        margin-right: 0;
        .general-button_img{
          margin-right: 0;
          margin-left: 10px;
          @include xsl {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

  
.only-for-optimization{
  position: absolute;
  z-index: 1;
  transform: scale(0);
}


.product{
  position: relative;
  display: flex;
}
.faq_cont{
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  width: 100%!important;
  margin: 50px 0 40px;
}
.faq_item{
  background: #FFFFFF;
  box-shadow: 0px 5px 8px rgba($color-gray, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  width: 100%;
  &:last-child{
    margin: 0 0 0;
  }
  &_content{
    padding: 25px 30px;
    box-sizing: border-box;
    width: 100%!important;
    border-top: 1px solid rgba($color-gray, 0.2);
    display: none;
    font-family: $font-future;
    font-size: 17px; 
    line-height: 24px;
    color: $color-gray;
    @include xsl{
        padding: 25px 20px;
    }
    .post_content{
      
      p{
        font-family: $font-future;
        font-size: 17px; 
        line-height: 24px;
        color: $color-gray;
      }
    }
  }

  &_img{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    width: 20px;
    height: auto;
    object-fit: contain;
    transition: 0.3s all;
    @include xsl{
      right: 20px;
    }
  }
  &_title{
    padding: 25px 60px 30px 25px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    // font-family: $font-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px; 
    display: flex;
    align-items: center;
    letter-spacing: 0.01em; 
    color: $color-black2;
    margin: 0;
    cursor: pointer;
    @include xsl{
      padding: 20px 50px 25px 20px;
      font-size: 20px;
      line-height: 24px;
    }
    &.active-header{
      .faq_item_img{
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }
  
}
.only-optimazy{
  position: absolute;
  z-index: 1;
  transform: scale(0);
}
.about{
  display: flex;
  flex-direction: column;
  padding: 70px 0 70px;
  @include xsl {
    padding: 50px 0 ;
  }
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 70px 0 0;
    @include xsl {
      margin: 40px 0 0;
    }
    @include md {
     flex-direction: column;
     justify-content: center;
    }
  }
  &_content{
    box-sizing: border-box;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    @include md {
      padding-right: 0px;
    }
  }
  &_info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
    img{
      margin-right: 20px;
      margin-top: 7px;
      @include xsl {
        margin-top: 3px;
      }
    }
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 31px; 
      color: $color-black;
      margin: 0 0;
      text-align: left;
      @include xsl {
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
      }
      & *{
        font-size: inherit;
        line-height: inherit; 
        text-decoration: none;
      }
    }
  }
  &_img{
    display: flex;
    @include md {
      margin-top: 40px;
      justify-content: center;
    }
    img{
      object-fit: cover;
      object-position: center;
      @include md {
        max-width: 100%;
      } 
    }
  }
}

.work{
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  background-color: #F7F9FC;
  @include xsl {
    padding: 40px 0; 
  }
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0 0;
    @include xsl {
      margin: 30px 0 0;
    }
  }
  &_items{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 215px;
    margin: 40px 15px 15px;
    @include xsl {
      max-width: 185px;
      margin: 25px 15px 15px;
    }
    p{
      font-family: $font-future;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px; 
      color: $color-gray2;
      margin: 0 auto;
      text-align: center;
      & *{
        font-size: inherit;
        line-height: inherit; 
        text-decoration: none;
      }
    }
  }
  &_icon{
    width: 90px;
    height: 90px;
    object-fit: contain;
    border: 3px solid $color-green;
    border-radius: 50%;
    margin: 0 auto 20px;
    box-sizing: border-box;
    padding: 20px;
    img{
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.variant{
  .about_cont{
    flex-direction: row-reverse;
    @include md {
      flex-direction: column; 
    }
  }
  .about_content{
    padding-right: 0;
    padding-left: 30px;
    @include md {
      padding-left: 0px;
    }
  }
}
.aption{
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  background-color: #F7F9FC;
  @include xsl {
    padding: 40px 0;
  }
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 50px auto 0;
    width: 100%; 
  }
  &_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0px 2px 10px rgba(92,174,255,0.17));
    background-color: #fff;
    padding: 30px 20px 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 350px; 
    box-shadow: 0px 8px 10px rgba(92,174,255,0.17);
    border-radius: 10px;
    margin: 0 15px 30px;  
    @include xsl {
      margin: 0 0px 30px;  
    }
  }
  &_img{
    margin: 0 auto 30px;
    width: 100%;
    max-width: 140px;
    img{
      max-width: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  p{
    font-family: $font-future;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; 
    color: $color-gray2;
    margin: 0 auto 30px;
    text-align: justify;
    & *{
      font-size: inherit;
      line-height: inherit; 
      text-decoration: none;
    }
  }
   
}

.aption_btn{
  display: flex;
  justify-content: center; 
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
  margin: auto 0 0;
  font-family: "Futura PT",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 126.5%;
  color: #ffffff;
  background-color: #0ae88d;
  text-align: center;
  border: 2px solid #ffffff;
  text-decoration: none;
  transition: 0.3s all;
  &:hover{
    color: $color-green;
    border: 2px solid $color-green;
    background:  $background-white;  
    cursor: pointer;
  }
}
.why-we{
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  background-color: #F7F9FC;
  @include xsl {
    padding: 40px 0;
  }
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: flex-start;
    margin: 50px auto 0;
    width: 100%;
    max-width: 760px;
    @include xsl {
      margin: 30px auto 0;
    }
  }
  &_items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 0 30px;
    &:last-child{
      margin: 0 0 0;
    }
    @include xsl {
      margin: 0 0 25px;
    }
  }
  &_number{
    min-width: 55px;
    margin: 0 30px 0 0;
    line-height: 55px;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    font-family: $font-future;
    font-style: normal;
    font-weight: 500;
    font-size: 36px; 
    color: $color-white; 
    background-color: $color-green;
    @include xsl {
      line-height: 45px;
      min-width: 45px;
      font-size: 26px;
    }
    & *{
      font-size: inherit;
      line-height: inherit; 
      text-decoration: none;
    }
  }
  &_text{
    font-family: $font-future;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; 
    color: $color-black;
    margin: 13px auto 0;
    @include xsl {
      font-size: 19px;
      line-height: 24px;
      margin: 1px auto 0;
    }
    & *{
      font-size: inherit;
      line-height: inherit; 
      text-decoration: none;
    }
  }
}


.algoritm{
  display: flex;
  flex-direction: column;
  padding: 70px 0; 
  @include xsl {
    padding: 40px 0;
  }
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 50px auto 0;
    width: 100%;
    max-width: 760px;
    @include xsl {
      margin: 30px auto 0;
    }
  }
  &_items{
    display: flex;
    flex-direction: row;
    width: calc(50% - 30px);
    margin: 20px 15px;
    border: 2px solid $color-green;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 15px 20px;
    align-items: flex-start;
    @include sm {
      width: 100%;
      margin: 20px 0px;
    } 
    @include xsl {
      padding: 15px 15px;
      border-radius: 10px;
      margin: 10px 0;
    }
    img{
      margin-right: 20px;
      margin-top: 7px;
    }
  }
  p{
    font-family: $font-future;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px; 
    color: $color-black;
    margin: 0 auto;
    & *{
      font-size: inherit;
      line-height: inherit; 
      text-decoration: none;
    }
  }
  &_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.contact{
  display: flex;
  flex-direction: column;
  padding: 70px 0; 
  h3{
    text-align: center;
  }
 
}
  
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%; 
  background-color: $background-gray2;
  padding: 220px 0 125px;
  box-sizing: border-box;
  overflow: hidden;
  &_img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 380px;
    object-position: center;
    z-index: 6;
    @include sm {
      height: 320px;
     }
  }
  @include sm {
    padding: 200px 0 70px;
   }
  &_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 792px;
    padding: 48px 60px 80px;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
    @include sm {
      padding: 40px 30px 40px;
     }
    @include xs {
      margin: 0 -15px;
      width: auto;
    }
    background-color: $background-white;
    filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.05));
    border-radius: 5px;
    margin: 0 auto;
    &_top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 55px;
      border-bottom: 1px solid $background-white2;
      @include sm {
        flex-direction: column;
        padding-bottom: 25px;
       }
      &_info{
        display: flex;
        flex-direction: column;
        h2{
          font-family: $font-future;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          letter-spacing: -0.02em;
          color: $color-gray2;
          margin: 0 0 10px;
        }
        p{
          font-family: $font-future;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          color: $color-gray;
          margin: 0;
        }
      }
      &_btn{
        & .general-button{
          padding: 12px;
          min-width: 138px;
          font-family: $font-future;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 24px;
          @include sm {
            margin-top: 25px;
          }
        }
      }
    }
    &_bottom{
      h1, h2, h3, h4, h5, h6{
        font-family: $font-future;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin: 50px 0 25px;
        color: $color-gray2;
        letter-spacing: -0.02em;
      }
      h1, h1 *{
        font-size: 72px;
      }
      h2, h2 *{
        font-size: 40px;
      }
      h3, h3 *{
        font-size: 28px;
      }
      h4, h4 *{
        font-size: 24px;
      }
      h5, h5 *{
        font-size: 20px;
      }
      h6, h6 *{
        font-size: 18px;
      }
      p, p *, li{
        font-family: $font-future;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $color-gray;
        margin:  0 0 15px;
      }
      a{
        text-decoration: none;
        margin: 0;
        color: $color-green;
      }
      img{
        max-width: 100%;
        object-fit: contain;
        margin: 20px auto 0;
        display: block;
      }
      ul, ol{
        padding: 0 0 0 20px;
        color: $color-black;
      }
    }
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  // background-color: #F7F9FC;
  padding: 60px 0 110px;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient( white, #F7F9FC); 
  &_cont{
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &_form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 486px;
      padding: 36px;
      background: #ffffff;
      border: 1px solid #eaedf2;
      box-sizing: border-box;
      border-radius: 5px;
      filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.05));
      &_list{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
        &_label{
          font-family: "Nunito Sans", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #555a64;
          margin-bottom: 8px;
        }
        &_input{
          width: 100%;
          background: #ffffff;
          border-radius: 3px;
          border: 1px solid #eaedf2;
          outline: none;
          height: 48px;
          padding: 12px;
          box-sizing: border-box;
          font-family: "Nunito Sans", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #555a64;
        }
      }
    }
  }
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%; 
  padding: 60px 0 110px;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(#F7F9FC, white); 
  h3{
    text-align: center;
  }
  &_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    &_items{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 240px;
      margin: 30px 15px 0;
      &_img{
        width: 110px;
        height: 110px;
        overflow: hidden;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 50%;
        border: 2px solid $color-green;
        display: flex;
      }
      h4{
        color:$color-black3; 
        color: #001830;
        margin-top: 15px;
        font-size: 30px;
        line-height: 36px;
      }
      p{
        font-family: $font-future;
        color: $color-black;
        margin: 0 auto;
        max-width: 170px;
        text-align: center;
      }
      img{
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
    }
  }
}