
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Futura PT'; 
    src: url("../fonts/FuturaPT-Light.ttf") format("ttf"),
        //  url("../fonts/FuturaPT-Light.woff") format("woff"),
         url("../fonts/FuturaPT-Light.eot") format("eot");
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.ttf') format("ttf"),
        // url("../fonts/FuturaPT-Book.woff") format("woff"),
        url("../fonts/FuturaPT-Book.eot") format("eot");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.ttf') format("ttf"),
        // url("../fonts/FuturaPT-Medium.woff") format("woff"),
        url("../fonts/FuturaPT-Medium.eot") format("eot");
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Demi.ttf') format("ttf"),
        // url("../fonts/FuturaPT-Demi.woff") format("woff"),
        url("../fonts/FuturaPT-Demi.eot") format("eot");
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.ttf') format("ttf"),
        // url("../fonts/FuturaPT-Heavy.woff") format("woff"),
        url("../fonts/FuturaPT-Heavy.eot") format("eot");
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.ttf') format("ttf"),
        // url("../fonts/FuturaPT-Bold.woff") format("woff"),
        url("../fonts/FuturaPT-Bold.eot") format("eot");
    font-weight: 800;
    font-display: swap;
}
@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-ExtraBold.ttf') format("ttf"),
        // url("../fonts/FuturaPT-ExtraBold.woff") format("woff"),
        url("../fonts/FuturaPT-ExtraBold.eot") format("eot");
    font-weight: 900;
    font-display: swap;
}