 
$background-white: #ffffff;
$background-white2: #eaedf2;
$background-black: #000000;
$background-blue: #1D4087;
$background-blue2: #1D5697;
$background-blue3: #6299D1;
$background-blue4: #051E3A;
$background-gray2:     #F7F9FC;
$background-blue-gradient: linear-gradient(180deg, rgba(140, 221, 242, 0.2) 0%, rgba(140, 221, 242, 0) 100%), #074F82;


$color-white: #ffffff;
$color-white2: #E2E2E2;
$color-black: #000000;
$color-gray:  #555A64;
$color-green: #0AE88D;
$color-gray2: #2C3038;
$color-black2: #373737;
$color-black3: #001830;
$color-blue: #1D4087;
$color-blue2: #406992;
$color-blue3 :#368FE8;
$color-blue4 :#0A325A;
$color-blue5 :#1E4771;
$color-blue6 :#0F1F73;



// $font-future: 'Futura PT', sans-serif;
$font-future: 'Nunito Sans', sans-serif;

$font-muli: 'Mulish', sans-serif;

 


 
 

