.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: transparent;  
  z-index: 99;
  transition: 0.3s all;
  border-bottom: 1px solid rgba(6, 74, 130, 0.09);
  &.blue{
    background: #f7f9fc!important;
    .social{
      background: white!important;
    }
    .social_img{
      background: $color-gray;
    }
    .header_cont_nav_list_items_link{
      padding: 17px 0;
      color: $color-gray;
    }
  }
  .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      background-color: $color-white;
    }
  &.active {  
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
      width: 40px;
      height: 3px;
      background-color: $color-gray;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
    box-shadow: 0 4px 2px -2px #ffffff;
    background-color: #f7f9fc;
    .header_cont{
      padding: 15px 0 15px;
    }

    
    .header_cont_nav_list_items_link{
      padding: 17px 0;
      color: $color-gray;
    }
    .header_cont_nav_list_items{
      &.active:before, &:hover:before{
        background-color: $color-gray;
      }
    }
     
    .header_cont_nav_list{
      @include md {
        padding: 90px 20px 10px;
      }
      &:after{
        @include md {
          top: 32px;
        }
      }
    }
  }
  &_cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all; 
    padding: 25px 0;
    &_logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      max-width: 150px;
      img {
        margin-right: 10px;
        max-width: 100%;
        @include sm {
          max-width: 110px;
          width: 100%;
        }
      }
    }
    &_nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: 0.3s all;
      box-sizing: border-box;
      &_list {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        @include md {
          position: absolute;
          top: 0px;
          right: 0;
          max-width: 305px;
          width: 100%;
          background: #f7f9fc;
          // border: 3px solid $color-gray;
          box-sizing: border-box;
          backdrop-filter: blur(10px);
          flex-direction: column; 
          transform: translate(100%, 0);
          z-index: 8;
          padding: 140px 20px 10px;
          border-bottom-left-radius: 30px;
        }
        
        &.active {
          transition: 0.3s all;
          @include md {
            transform: translate(0, 0);
          }
        }
        
        @include xsl {
          max-width: 100%;
        }
        &_items {
          display: flex;
          position: relative;
          text-decoration: none;
          list-style: none;
          padding: 0 0; 
          transition: 0.3s all;
          margin-right: 25px;
          transition: 0.3s all;
          cursor: pointer;
          @include md {
            margin: 0 0 10px;
            text-align: center;
            justify-content: center;
          }
          &:last-child{
            margin: 0 0 0px;
          }
          
          &:before{
            content: ' ';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0%;
            height: 2px;
            transition: 0.3s all;
            z-index: 11;
            @include md {
              display: none;
            }
          }
          &.active:before, &:hover:before{
            width: 100%;
            background-color: $background-white;
             
          } 
          &.active{
            .header_cont_nav_list_items_link{
              @include md {
                width: 100%;
                background-color: $background-white;
              }  
            }

          }
          &_link { 
            font-family: $font-future;
            font-style: normal; 
            padding: 20px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            color: $color-white;
            text-decoration: none;
            text-align: center; 
            transition: 0.3s all; 
            @include md {
              text-align: center;
              line-height: 26px;
              font-size: 20px;
              position: relative;
              color: $color-gray;
            }
            &:before{
              @include md {
                content: ' ';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0%;
                height: 3px;
                transition: 0.3s all;
                z-index: 11;
              }
            }
            &.active:before, &:hover:before{
              @include md {
                width: 100%;
                background-color: $background-white;
              } 
            }
          }
          &:hover > &_children {
            display: flex;
          } 
          &_children {
            position: absolute;
            top: 108px;
            display: none; 
            box-sizing: border-box;
            border: 1px solid $background-white;
            box-sizing: border-box;  
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 255px;
            left: 0%;
            transform: translate(0%, 0%);
            flex-direction: column;
            transition: 0.3s all; 
            &_link_children {
              text-align: left; 
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              color: $color-black2;
              // opacity: 0.5;
              cursor: pointer;
              transition: 0.3s all;
              text-decoration: none;
              margin-bottom: 0;
              padding: 18px 30px;
              border-bottom: 1px solid rgba(118, 169, 213, 0.4);
              &:hover,
              &.active {
                // color: $background-blue-dark;
                opacity: 1;
              }
              // @include sm {
              //   padding: 10px 30px 10px 35px;
              //   border: none;
              // }
            }
            &_link_children:last-child {
              margin-bottom: 0;
              border-bottom: none;
            }
          }
          &:hover > &_link {
            opacity: 1;
          }
        }
      }
    }
    & .general-button {
      @include md {
          width: 46px;
          height: 46px;
          align-items: center;
          justify-content: center;
          padding: 0;
          border-radius: 50%;
          position: absolute;
          right: 27px;
          top: 103px;
          & div{
            margin: 0;
          }
          span{
            transform: scale(0);
            position: absolute;
          }
      }
    }
  }
}
.social{
  width: 100%;
  display: flex; 
  transition: 0.3s all;
  &_cont{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 0;
    transition: 0.3s all;
    a{
      cursor: pointer;
      margin-right: 25px;
      transition: 0.3s all;
      &:last-child{
        margin-right: 0;
      }
      &:hover{
        text-decoration: none; 
        div{
          background: $color-gray;
        }
      }
    }

    
  }
  &_img{
    // margin-right: 15px;
    width: 18px;
    height: 18px;
    background: $color-white;
    mask-repeat: no-repeat;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    transition: 0.3s all;
  }
  &.active{
    background: white;
    .social_cont{
      padding: 5px 0;
    }
    .social_img{
      background: $color-gray;
    }
  }
  &.unactive{
    .social_cont{
      padding: 5px 0;
    }
    margin-top: -35px;
    @include md {
      // margin-top: -20px;
    }
  }
  
}